<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Contact Us</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <p class="mt-5 h1 text-center">
        Contacts us via email at longnq@test.com
    </p>
    <ol class="mt-5 h1 text-center">
        <ul><b>Phone No:</b> 999 123456789</ul>
        <ul><b>Address:</b> 1 Hoa Quy, Danang</ul>
    </ol>
</body>
</html>>
